{% extends "base.html" %}
{% block title %}
    {% if mode == "edit" %}
        Edit {{ tipe|capfirst }}
    {% else %}
        Tambah {{ tipe|capfirst }}
    {% endif %}
{% endblock %}

{% block content %}

{% if mode == "edit" %}
    <h2>Edit {{ tipe|capfirst }}</h2>
{% else %}
    <h2>Tambah {{ tipe|capfirst }}</h2>
{% endif %}

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% if mode == "edit" %}
        <button type="submit">Simpan Perubahan</button>
    {% else %}
        <button type="submit">Simpan</button>
    {% endif %}
</form>

<p>
    <a href="{% url 'daftar_kendaraan' %}">
        ← Kembali ke daftar kendaraan
    </a>
</p>

{% endblock %}