{% extends "base.html" %}
{% block title %}Hapus Kendaraan{% endblock %}
{% block content %}

<h2>Hapus Kendaraan</h2>
<p>
    Apakah kamu yakin ingin menghapus kendaraan berikut?
</p>

<ul>
    <li>
        <strong>No. Polisi:</strong> {{ kendaraan.no_polisi }}
    </li>

    <li>
        <strong>Merk:</strong> {{ kendaraan.merk }}
    </li>

    <li>
        <strong>Model:</strong> {{ kendaraan.model_kendaraan }}
    </li>

    <li>
        <strong>Tahun:</strong> {{ kendaraan.tahun }}
    </li>
</ul>

<form method="post">
    {% csrf_token %}

    <button type="submit">
        Ya, Hapus
    </button>

    <a href="{% url 'daftar_kendaraan' %}">
        Batal
    </a>
</form>

{% endblock %}